<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Oda Adı: : {{room.roomName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="room.closeConnections()" defaultHref="/"></ion-back-button>
    </ion-buttons> -->

    <ion-row>
      <ion-col size="8" class="ion-align-self-center">
        <span class="roomName">Oda adı: asdfaf</span>
      </ion-col>
      <ion-col size="2" class="ion-align-self-center ion-text-right">
        <span class="time ">05:00</span>

      </ion-col>
      <ion-col size="2" class="ion-text-right">
        <span>
          <ion-icon (click)="room.closeConnections()" class="backButton " name="arrow-back" size="large">
          </ion-icon>
        </span>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false">
  <div class="holder">
    <div class="holder-inside">
      <div class="word-area ion-text-center ion-margin-top">
        _ _ _ _ _
      </div>
      <div class="canvas ion-margin-top">

        <canvas #drawingCanvas (touchstart)="startDrawing($event)" (touchend)="endDrawing($event)"
          (touchmove)="moved($event)" (mousedown)="startDrawing($event)" (mouseup)="endDrawing($event)"
          (mousemove)="moved($event)"></canvas>


      </div>
      <div class="buttons ion-text-end">
        <ion-button>
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="chatboxes"></ion-icon>
        </ion-button>
        <ion-button (click)="presentModal()">
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </div>
      <div class="main-content">
        <ion-row>
          <ion-col size="4" >
            <div class="users">
              <ul>
                <li *ngFor="let item of [1,2,3,4,5,6,7,8,9]"><span class="playerName">altu</span>
                  <br>Puan:10
                </li>

              
              </ul>
            </div>
          </ion-col>
          <ion-col size="8" class="ion-no-padding">
            <div class="chat">
              <div class="chatText"><span>Chat</span></div>
              <div class="chatMessage">
                <ul>
                  <li *ngFor="let item of chatMessage">{{item.username}}:{{item.message}}</li>

                </ul>
              </div>


            </div>


          </ion-col>

        </ion-row>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="userS.isAdmin">
    <ion-button (click)="closeRoom()">oda kapat</ion-button>
    <ion-button (click)="userList()">kullanıcıları getir</ion-button>
    <ion-button (click)="checkKickStatus()">durumu kontrol et</ion-button>

    <ion-list>
      <ion-item *ngFor="let item of room.kickList" (click)="kickStart(item.username,item.connectionId)">
        {{item.username}}
      </ion-item>
    </ion-list>

  </div>
  <ion-row>
    <ion-col *ngFor="let color of colors" [style.background]="color" class="color-block" tappable (click)="selectColor(color)"></ion-col>
  </ion-row>
  <ion-radio-group [(ngModel)]="selectedColor">
    <ion-row>
      <ion-col *ngFor="let color of colors" class="ion-text-center">
        <ion-radio [value]="color"></ion-radio>
      </ion-col>
    </ion-row>
  </ion-radio-group>
  <ion-range min="2" max="20" color="primary" [(ngModel)]="lineWidth">
    <ion-icon size="small" slot="start" name="brush"></ion-icon>
    <ion-icon  slot="end" name="brush"></ion-icon>

  </ion-range>

  <canvas #drawingCanvas (touchstart)="startDrawing($event)" (touchend)="endDrawing($event)" (touchmove)="moved($event)"
    (mousedown)="startDrawing($event)" (mouseup)="endDrawing($event)" (mousemove)="moved($event)"></canvas>
  <ion-button (click)="exportCanvasImage()">asd</ion-button>
  <ul>
    <li *ngFor="let item of chatMessage">{{item.username}}:{{item.message}}</li>
  </ul> -->


</ion-content>


<ion-footer>
  <!-- <ion-input placeholder="Mesajınız.." [(ngModel)]="messageText"></ion-input>
  <ion-button (click)="room.SendMessage(messageText)">></ion-button> -->
  <ion-item lines="none">
    <ion-input placeholder="Mesajınız.." [(ngModel)]="messageText"></ion-input>
    <ion-button (click)="room.SendMessage(messageText)">></ion-button>
  </ion-item>
</ion-footer>