@import "../welcome/welcome.page.scss";


ion-footer{
    
    h2{
        font-size: 40px;
        color:$base-color;
        font-family: 'Courgette', cursive;  
    }
    ion-button{
        margin-top: 20px !important;
    }
}
ion-content{
    .backButton{

        color:white !important;
    }
}
