<ion-content>
  <div class="ion-text-right">

      <ion-icon routerLink="/welcome" class="backButton ion-margin" name="arrow-back" size="large"></ion-icon>
 
  </div>
</ion-content>

<ion-footer>
  <ion-card>

    <ion-card-content class="ion-text-center">
      <h2>Giriş</h2>
      <ion-button expand="block" color="primary">Facebook ile Giriş Yap</ion-button>
      <ion-button expand="block" color="danger">Google ile giriş yap</ion-button>
      <ion-button expand="block" routerLink="login">Giriş Yap</ion-button>
      <h2 class="ion-padding-top">Kayıt</h2>
      <ion-button expand="block" routerLink="register">Kayıt Ol</ion-button>
    </ion-card-content>
  </ion-card>
</ion-footer>