<ion-content> </ion-content>

<ion-footer>
    <ion-card>

        <ion-card-content>
            <ion-button expand="block" color="primary">Facebook ile Giriş Yap</ion-button>
            <ion-button expand="block" color="danger">Google ile giriş yap</ion-button>
            <ion-item class="ion-margin-top">
                <ion-label>
                    <ion-icon name="contact" size="large"></ion-icon>
                </ion-label>
                <ion-input  placeholder="Kullanıcı Adı" [(ngModel)]="username"></ion-input>
            </ion-item>
            <ion-button expand="block" (click)="Login(username)">Hızlı Oyna</ion-button>

        </ion-card-content>
    </ion-card>
</ion-footer>