/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


*{
    font-family: 'Montserrat', sans-serif;
}

.footer-md:before{
    content: none !important;
}
.header-md:after{
    content: none !important;
}

ion-footer{
    background:#2C3B49;
}
ion-toolbar{
    --background:#2C3B49;
}
ion-content{
    --background:#2C3B49;
    .backButton{

        color:white !important;
    }
}
.winnerAnno{
    .alert-wrapper{
            background:#2C3B49;
            border:2px solid orange;
            border-radius: 50px !important;
            .alert-head{
                h2{
                    
                    color:white;
                    text-align: center;
                    text-transform:uppercase;
                    font-size: 20px;
                }
                
            }
            .alert-message{
                color:white;
                text-transform:uppercase;
                font-size: 17px;
            }
            button{
                color:white;
            }
    }    
}