<ion-content> 
  <div class="ion-text-right">

    <ion-icon [routerLink]="['/welcome/loginOptions']" class="backButton ion-margin" name="arrow-back" size="large"></ion-icon>

</div>
</ion-content>

<ion-footer>
  <ion-card>
    <ion-card-content>
      <h2 class="ion-text-center ion-padding-bottom">Kayıt Formu</h2>
      <ion-item>
        <ion-label>
          <ion-icon name="contact" size="large"></ion-icon>
        </ion-label>
        <ion-input placeholder="Kullanıcı Adı"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="lock" size="large"></ion-icon>
        </ion-label>
        <ion-input placeholder="Şifre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="lock" size="large"></ion-icon>
        </ion-label>
        <ion-input placeholder="Şifre(yeniden)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="mail" size="large"></ion-icon>
        </ion-label>
        <ion-input placeholder="E-Posta"></ion-input>
      </ion-item>
      <ion-button expand="block" class="ion-margin-top">Kayıt Ol</ion-button>

    </ion-card-content>
  </ion-card>
</ion-footer>

<!-- <ion-content>

  <ion-input [(ngModel)]="username"></ion-input>
  <ion-input [(ngModel)]="password"></ion-input>

  <ion-button (click)="Login(username,password)">Giriş Yap</ion-button>
</ion-content> -->